{% extends 'base.html.twig' %}
{% form_theme form 'formFields.html.twig' %}
{% block title %}Permisos{% endblock %}
{% block contenido %}
<div class="card mx-auto my-5" style="max-width: 500px;">
  {{ form_start(form) }}
  <fieldset class="form-box mx-3 my-3">
    <legend class="mt-3">Permisos para {{ rol.getDescripcion }}</legend>
    <hr>
    <div class="form-group mx-3">
        {{ form_widget(form.permisos) }}
    </div>
    <hr>
     {{ form_widget(form.Update) }}
    <a href="{{path('homepage')}}" class="btn">Cancelar</a>
    </fieldset>
  {{ form_end(form) }}
</div>
{% endblock %}
